<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created by Cam with a fair bit of help from 
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>. Well, OK. A lot of help.
</p>
